In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [42]:
dataset=pd.read_csv('Algerian_forest_fires_dataset_UPDATE.csv',header=1)

In [43]:
dataset.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
0,01,06,2012,29,57,18,0,65.7,3.4,7.6,1.3,3.4,0.5,not fire
1,02,06,2012,29,61,13,1.3,64.4,4.1,7.6,1,3.9,0.4,not fire
2,03,06,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire
3,04,06,2012,25,89,13,2.5,28.6,1.3,6.9,0,1.7,0,not fire
4,05,06,2012,27,77,16,0,64.8,3,14.2,1.2,3.9,0.5,not fire

In [44]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246 entries, 0 to 245
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          246 non-null    object
 1   month        245 non-null    object
 2   year         245 non-null    object
 3   Temperature  245 non-null    object
 4    RH          245 non-null    object
 5    Ws          245 non-null    object
 6   Rain         245 non-null    object
 7   FFMC         245 non-null    object
 8   DMC          245 non-null    object
 9   DC           245 non-null    object
 10  ISI          245 non-null    object
 11  BUI          245 non-null    object
 12  FWI          245 non-null    object
 13  Classes      244 non-null    object
dtypes: object(14)
memory usage: 27.0+ KB

In [45]:
### data cleaning
## missing values

In [46]:
dataset[dataset.isnull().any(axis=1)]

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes
122,Sidi-Bel Abbes Region Dataset,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,14,07,2012,37,37,18,0.2,88.9,12.9,14.6 9,12.5,10.4,fire,NaN

In [ ]:
### dividing dataaset into 2 regions

In [86]:
dataset.loc[:122,"Region"]=0
dataset.loc[122:,"Region"]=1
df=dataset

In [90]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 2 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Bejaia Region Dataset   244 non-null    object
 1   Region                  244 non-null    int64
dtypes: int64(1), object(1)
memory usage: 3.9+ KB

In [91]:
df[['Region']]=df[['Region']].astype(int)

In [93]:
df.head()

  Bejaia Region Dataset   Region
0              Classes         0
1            not fire          0
2            not fire          0
3            not fire          0
4            not fire          0

In [94]:
df=df.dropna().reset_index(drop=True)

In [95]:
df.head()

  Bejaia Region Dataset   Region
0              Classes         0
1            not fire          0
2            not fire          0
3            not fire          0
4            not fire          0

In [96]:
df.isnull().sum()

Bejaia Region Dataset     0
Region                    0
dtype: int64

In [97]:
df.iloc[[122]]

    Bejaia Region Dataset   Region
122              Classes         1

In [98]:
### removing 122 item
df=df.drop(122).reset_index(drop=True)

In [101]:
df.iloc[[122]]

    Bejaia Region Dataset   Region
122            not fire          1

In [102]:
df.columns

Index(['Bejaia Region Dataset ', 'Region'], dtype='object')

In [103]:
df.columns.str.strip()

Index(['Bejaia Region Dataset', 'Region'], dtype='object')

In [104]:
df.info

<bound method DataFrame.info of     Bejaia Region Dataset   Region
0                Classes         0
1              not fire          0
2              not fire          0
3              not fire          0
4              not fire          0
..                     ...     ...
238                fire          1
239            not fire          1
240            not fire          1
241            not fire          1
242           not fire           1

[243 rows x 2 columns]>

In [ ]:
### change the required columns as integer datatype

KeyError: "None of [Index(['month', 'day', 'year', 'Temperature', 'RH', 'Ws'], dtype='object')] are in the [columns]"