In [92]:
import sqlite3

In [93]:
## connect to an sqlite databse
connection=sqlite3.connect('example.db')
connection

In [94]:
cursor=connection.cursor()

In [95]:
## create a table 
cursor.execute('''
               Create Table if not exists employee(
                   id integer Primary Key,
                   name Text not null,
                   age Integer,
                   department text
               ) 
               
               
               ''')
### commi the changes
connection.commit()

In [96]:
## insert the data sqlitedb3

cursor.execute('''
               Insert into employee(name,age,department)
               values('Sreekar',19,'Cybersecurity')
               ''')

cursor.execute('''
               Insert into employee(name,age,department)
               values('yaseen',19,'cse core')
               ''')


cursor.execute('''
               Insert into employee(name,age,department)
               values('sreerag',19,'Cybersecurity')
               ''')

cursor.execute('''
               Insert into employee(name,age,department)
               values('hidash',19,'Cybersecurity')
               ''')



### commit the changes
connection.commit()

In [106]:
### queryimg the data from the table itself
cursor.execute('Select * from employee ') 
rows=cursor.fetchall()

for row in rows:
    print(row)

(1, 'Sreekar', 19, 'Cybersecurity')
(3, 'sreerag', 19, 'Cybersecurity')
(4, 'hidash', 19, 'Cybersecurity')
(5, 'Sreekar', 19, 'Cybersecurity')
(7, 'sreerag', 19, 'Cybersecurity')
(8, 'hidash', 19, 'Cybersecurity')
(9, 'Sreekar', 19, 'Cybersecurity')
(11, 'sreerag', 19, 'Cybersecurity')
(12, 'hidash', 19, 'Cybersecurity')

In [104]:
### update the data in the table

cursor.execute('''
               Update employee
               Set age=24 where name ="yaseen"
               ''')
connection.commit()

# connection.close()

In [103]:
### delete from table
cursor.execute('''
               DELETE from employee where name="yaseen"
               ''')
connection.commit()

In [ ]:
##### sales data